Onboarding/*
01-BYOD-Basics-29/*
!01-BYOD-Basics-29/00-Szenarien.mdx
02-Programmieren-1/*
!02-Programmieren-1/04-errors/
!02-Programmieren-1/05-functions/
!02-Programmieren-1/06-parameters/
!02-Programmieren-1/07-Variablen/
!02-Programmieren-1/08-Verzweigungen/
!02-Programmieren-1/09-While/
!02-Programmieren-1/10-Rueckgabewerte/
!02-Programmieren-1/12-rekursion/
!02-Programmieren-1/15-Gruefnisch/
!02-Programmieren-1/16-modulo/
!02-Programmieren-1/21-mistakes.mdx
!02-Programmieren-1/30-Repefragen/
!02-Programmieren-1/50-Test/
!02-Programmieren-1/51-Tests.mdx