Programmieren 1/*
!Programmieren 1/04-errors/
!Programmieren 1/05-functions/
!Programmieren 1/06-parameters/
!Programmieren 1/07-Variablen/
!Programmieren 1/08-Verzweigungen/
!Programmieren 1/09-While/
!Programmieren 1/10-Rueckgabewerte/
!Programmieren 1/12-rekursion/
!Programmieren 1/15-Gruefnisch/
!Programmieren 1/16-modulo/
!Programmieren 1/21-mistakes.mdx
!Programmieren 1/30-Repefragen/
!Programmieren 1/50-Test/
!Programmieren 1/51-Tests.mdx